
@import "https://fonts.googleapis.com/css?family=Lato|Open+Sans";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 10px;
}

header{
    width: 100%;
    /* height: 95vh; */
    height: 400px;
    font-family: "Lato", Arial, sans-serif;
    background: linear-gradient(to right bottom,rgba(204,146,0,0.51),rgba(188,151,92,0.51)), url("/imagenes/land.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0,100% 80vh,0 100%);
    animation: movimiento 10s linear infinite alternate; 
}

nav{
    float: right;
    /* width: 80%;
    height: 7rem;
    line-height: 7rem;
    position: absolute;
    top: 2rem;
    left: 50%;
    font-size: 1.4rem;
    transform: translateX(-50%);
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: aquamarine; */
}
.clearfix{
    clear: both;
}

.logo-box{
    float: left;
}

 .logo{
    width: 7rem;
    height: 7rem;
    margin-right: 10rem;
    float: left; 
} 

nav ul{
    list-style: none;
    float: left;
}

nav ul li{
    display: inline-block;
    padding: 0 1.5rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    padding-bottom: .5rem;
    border-bottom: .1rem solid #fff;
}

.text-box{
    position: absolute;
    top: 60%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-align: center;   
   
}

.primary-heading{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem;
}
.heading-main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-right: -3.5rem;
    animation: moveLeft 1s ease-in;
}
.heading-sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 3rem;
    margin-right: -1.75rem;
    animation: moveRight 1s ease-in;
}

.btn{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    font-size: 1.6rem;
    border: 0.5px solid #fff;
    background-color:rgba(0,0,0, 0);
    color:#fff;
    /* transition: all .2s; */
    transition: background 300ms;
    animation: moveUp 1.5s ease-in;
}
.btn:hover{
    /* transform: translateY(-3px); */
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    background-color:rgba(255,255,255,0.5);
	color: #000;
}

@keyframes moveLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    100%{
        opacity: 1;
        transform: translate(0)
    }
}
@keyframes moveRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    100%{
        opacity: 1;
        transform: translate(0)
    }
}
@keyframes moveUp{
    0%{
        opacity: 0;
        transform: translateY(2rem);
    }
    100%{
        opacity: 1;
        transform: translate(0)
    }
}
@keyframes movimiento{

	from{
		background-position:  left bottom;
	}
	to{
		background-position:  right top;
	}

}

/*Para el menu movil*/
@media(max-width: 1200px){
    header{
        margin: 0px;
    }
}
@media(max-width: 768px){
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float:right;
        cursor: pointer;
        text-align: center;
        font-size: 30px; 
        
    }
    .menu-toggle:before{
        content: '\f10c';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before{
        content: '\f05c'
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
        width: 100%;
    }
    nav.active ul{
        display: block;
    
    }
    .logo-box{
        display: block;
    }
}

/* body{
     background-color: #eeeeee;
} */
/* .contenedor{
width: 90%;
max-width: 1000px;
border: 10px solid #000;
margin: auto;
font-size: 12px; 
line-height: 50px;
text-align: center;
}  */
/* 
.contenedor > div{
    display: block;
    padding: 20px;
    color: black;
    background: cyan;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5)
} */